

.login {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;



    &__form {
        min-width: 400px;
        height: 70vh;
        background-color: var(--background-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        box-shadow: 3px 3px 50px 1px var(--shadow-color);

        &__title {
            font-family: var(--bs-font-sans-serif);
            font-size: 30px;
            margin: 20px;
            color: var(--text-color);
        }

        &__greeting {
            font-family: var(--bs-font-sans-serif);
            margin: 20px;
            color: var(--text-color);
        }

    }

    .link_to_signup {
        text-decoration: none;
        font-size: 14px;
        margin: 7px;
        color: var(--text-color);
    }

    .link-to-forgot-password {
        margin: auto;
        align-self: flex-end;
        bottom: 0px;
        right: 0px;
        text-decoration: none;
        color: #2f17ce;
        font-size: 14px;
    }
}