.friend-requests {

    &__popper {
        position: absolute;
        width: 85%;
        margin: 0 10px 0 10px;

    }
    &__items {
        margin: 5px 0 0 0;
        
        background-color: var(--background-color);
        border: 2px solid var(--shadow-color);
        border-radius: 10px;
        padding: 0 10px 0 10px;
    }
}