.close-friend {
    .header {
        width: 100%;
        
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        p {
            font-size: 20px;
            font-weight: 600;
            color: var(--text-color);
            
        }
      
        .back-icon {
            width: 20px;
            height: 20px;
            padding: 10px;
            border-radius: 10px;
        }
      
        .back-icon:hover {
            color: var(--text-color-light);
            background: rgb(191, 191, 191);
            cursor: pointer;
        }

    }
    &__container {
        width: 80%;
        margin-top: 5px;
        max-height: calc(100vh - calc(100vh / 2));
    }
    align-items: center;
    display: flex;
    flex-direction: column;
}

