.custom-button{
    min-width: 200px;
    width: 200px;
    background-color: var(--button-color);
    color: var(--button-text);
    box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,rgba(46, 54, 80, 0.075) 0 1px 1px;
    border-radius: 30px !important;
}