.custom-button{
    background-color: var(--button-color) !important;
    color: var(--button-text) !important;
    border-radius: 30px !important;
    &:hover {
        background-color: color-mix(in srgb, var(--button-color) 90%, white) !important;
    }
}