.text-field {
    height: 80px;

    input {
        width: 100%;
        height: 30px;
        color: var(--text-color);
    }

    .MuiFormLabel-root {
        color: var(--text-color-light);
    }



    .MuiInput-underline {
        &:before {
            border-bottom: 1px solid var(--text-color-light);
        }

    }



    
}

.error {
    display: flex;
    align-items: center;
    margin-top: -20px;
    &__icon {
        color: red;
    }
    &__message {
        color: red;
        margin-left: 2px;
    }
}
