.text-field {
    height: max-content;
    
    input {
        width: 100%;
        height: 20px;
        color: var(--text-color);
    }

    .MuiFormLabel-root {
        color: var(--text-color-light);
    }
    .MuiInput-root {
        margin-bottom: 20px;
    }
    .MuiInput-underline {
        margin-bottom: 20px;
    }
    textarea {
        color: var(--text-color);
    }
}

