.profile {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    &__btns {
        display: flex;
        flex-direction: row;
        justify-content: space-between;


        &__logout {
            color: var(--button-color) !important;
        }

        &__back {
            color: var(--button-color) !important;

        }
    }

    &__container {
        background-color: var(--background-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 80vh;


        &__form {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 85%;
            background-color: var(--background-color);

            &__bio {
                margin-bottom: 100px;

                .MuiFormControl-root {
                    margin-bottom: 60px;
                }
            }

        }
    }




}



.avatar {
    width: 100px;
    height: 100px;
}