.signup {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    .signup__rows{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 70%;
    }

    &__form {
        width: 30%;
        height: 95%;
        min-height: 700px;
        min-width: 500px;
        box-shadow: var(--shadow-color) 0px 7px 29px 0px;
        border-radius: 20px;
        // border-color: var(--line-color);
        // border-style: solid;
        background-color: var(--background-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__title {
            font-family: var(--bs-font-sans-serif);
            font-size: 30px;
            margin: 20px;
            color: var(--text-color);
        }
        &__greeting {
            font-family: var(--bs-font-sans-serif);
            margin: 20px;
            color: var(--text-color);
        }

    }
    .link_to_signin{
        text-decoration: none;
        font-size: 14px;
        margin: 7px;
        color: var(--text-color);
    }
}